h1 {
    text-align:center;
    margin-top:10%;
    font-family:helvetica;
    color: RGBA(48, 101, 155, 1);
    margin-right:10%;

}

h2 {
    text-align:center;
    font-family:helvetica;
    color: #3D9970;
    margin-right:13%;
}
button {
    
    height: 200px;
    width: 200px;
    background-size: 200px 200px;
    margin-top:3%;
}

.rock {
    background-image: url("https://i.pinimg.com/originals/ce/6a/35/ce6a35e9296af060e1372252984d773b.jpg");
    position: relative;
    margin-left:15%;
}

.paper {
    background-image: url("https://schools.graniteschools.org/armstrong/files/2015/02/white-paper.jpg");
    position:relative;
    margin-left:5%;

}

.scissors {
    background-image : url("https://upload.wikimedia.org/wikipedia/commons/7/76/Pair_of_scissors_with_black_handle%2C_2015-06-07.jpg");
    position:relative;
    margin-left:5%;
    
}

div {
    margin-left:35%;
    margin-top:5%;
}

.player-score-data {
    padding-left:3%;
}