h1 {
    text-align:center;
    margin-top:10%;
    font-family:helvetica;
    color: RGBA(48, 101, 155, 1);
    margin-right:10%;

}

h2 {
    text-align:center;
    font-family:helvetica;
    color: #3D9970;
    margin-right:13%;
}
button {
    
    height: 200px;
    width: 200px;
    background-size: 200px 200px;
    margin-top:3%;
}

.rock {
    background-image: url("https://i.pinimg.com/originals/77/50/e2/7750e2e6c5362017b7fb679dd9a7abef.jpg");
    position: relative;
    margin-left:15%;
}

.paper {
    background-image: url("http://www.dick-blick.com/items/102/40/10240-1009-1-2ww-m.jpg");
    position:relative;
    margin-left:5%;

}

.scissors {
    background-image : url("https://upload.wikimedia.org/wikipedia/commons/7/76/Pair_of_scissors_with_black_handle%2C_2015-06-07.jpg");
    position:relative;
    margin-left:5%;
    
}

div {
    margin-left:35%;
    margin-top:5%;
}

.player-score-data {
    padding-left:3%;
}